<template>
    <div class="row">
        <div class="col-sm-12">
            <select name="period" v-model="period">
                <option value="0">All</option>
                <option value="1">1 minute</option>
                <option value="10">10 minutes</option>
                <option value="60">1 hour</option>
                <option value="1440">1 day</option>
            </select>
        </div>
        <template v-if="Object.keys(sensors).length > 0">
            <line-chart-component v-for="(data, name) in sensors" :line-data="data" :chart-label="name" :key="name"></line-chart-component>
        </template>
        <div class="col-sm-12" v-else>
            <h1> No data present</h1>
        </div>
    </div>
</template>

<script>
    import LineChartComponent from './LineChartComponent.vue'
    import axios from 'axios'
    export default {
        name: "ChartsContainerComponent",
        components: {
            LineChartComponent
        },
        data () {
          return {
              sensors: {},
              period: 0
          }
        },
        mounted() {
            this.getData()
            setInterval(this.getData, 2000)
        },
        methods: {
            getData() {
                axios.get(window.location.href + 'api/data?period=' + this.period)
                    .then((response) => {
                        this.sensors = response.data
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            }
        }
    }
</script>