<template>
    <div class="col-sm-4">
        <template v-if="lineData != null">
            <span >{{lineData[0]}}</span>
            <line-chart :chart-data="datacollection"></line-chart>
        </template>
        <h3 v-else>
            no data present
        </h3>
    </div>
</template>

<script>
    import LineChart from './LineChart.js'

    export default {
        components: {
            LineChart
        },
        data () {
            return {
                datacollection: null
            }
        },
        props: ['lineData', 'chartLabel'],
        mounted () {
            this.fillData()
        },
        methods: {
            fillData () {
                this.datacollection = {
                    labels: this.lineData,
                    datasets: [
                        {
                            label: this.chartLabel,
                            backgroundColor: '#000',
                            borderColor: '#000',
                            fill: false,
                            data: this.lineData
                        }
                    ]
                }
            },
            getRandomInt () {
                return Math.floor(Math.random() * (50 - 5 + 1)) + 5
            }
        }
    }
</script>
<style>
</style>